/* responsive for small device */

@media screen and (max-width: 576px){
    .nav-container,
    .nav-title,
    .nav-menu{
        flex-direction: column; 
        text-align: center;  
        margin-left: 50px;
    }
    .banner-section-title,
    .header-title{
        flex-direction: column;
    }

    .banner-section-description .banner-first {
        font-size: 1.5rem;
        margin: 24px auto;
    }

    .banner-section-description p{
        font-size: 1rem;
        margin: 0px auto;
        max-width: 300px;
    }
    .banner-menu{
        max-width: 280px;
        margin:10px auto;
        gap: 24px;
        flex-wrap: wrap;  
    }
    .banner-section-title,
    .header-title,
    .banner-menu{
        flex-direction: column ;
    }
    .banner-section-description {
        position: relative;
    }
    .popular{
        flex-direction: column;
    }
    .popular-title{
        align-items: start;
    }
    .popular-title-first,
    .place-title-first{
        font-size: 1.3rem;
    }
    .popular-title-second,
    .place-title-second,
    .popular-title-third{
        width: 335px;
        margin: 10px auto;
        margin: 0;
    }
    .mautan-img{
        width: 100%;
        
    }
    .men-first,
    .men-second,
    .men-third,
    .men-forth,
    .men-fift,
    .men-six,
    .men-seven,
    .men-eight,
    .container{
        flex-direction: column;
        margin: 10px auto;
    }
    .destination-title{
        font-size: 1.3rem;
    }
    .destination-description{
        width: 309px;
        margin:0 auto;
    }
    .men-first,
    .men-second,
    .men-third,
    .men-forth,
    .men-fift,
    .men-six,
    .men-seven,
    .men-eight{
        width: 100%;

    }
    .destination{
        text-align: center;
        justify-content: center;
    }
    .destination-first,
    .destinationc,
    .container{
        margin:0 auto;
    }
    .choose-title{
        flex-direction: column;
    }
    .choose-img-description{
        width: 309px;
    }
    .choose-title{
        flex-direction: column;
    }
    .choose-title{
        flex-wrap:nowrap;
        flex-direction: column;
        width: 335px;
        height: 289px;
    }
    .service-second{
        text-align: center;
        font-size: 40px;
    }
    .service-third{
        width: 309px;
        margin: 0 auto;
        
    }
    .discounts,
    .discounts-second,
    .discounts-first,
    .discounts-img-first,
    .discounts-img-third,
    .discounts-img-second{
    flex-direction: column;
   }
   
   
   .discounts-img-second{
    margin-top: 150px;
    margin-left:120px ;
    width: 303px;
    height: 297px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
   
   }
    .discounts-img-first,
    .discounts-img-third {
        width: 303px;
        height: 297px;
        margin-top: 150px;
        margin-left: 120px;
    }
   .discounts,
   .discounts-second,
   .discounts-first{
    width: 100%;
   }
   .wow-second{
    width: 254px;
    text-align: center;
   }
   .discount-title-first,
   .discount-title-third,
    .discount-title-second{
    align-items: center;
    margin: auto 50px;   
}
   .discount-wow{
    text-align: center;
   }
   .discount-wow h3{
    font-size: 1.3rem;
   }
   .discount-wow p{
    width: 309px;
   }
   .container-arif{
    margin-top: 500px;
   }
   .place{
    flex-direction: column;
   }
   .place-img{
    width: 305px;
    height: 200px;
   margin-left: 0;
   margin-top: 10px;

   }
   .place-title{
    width: 335px;
    
   }
   .place-title-third{
    width: 335px;
   }








}
































