/* responsive for small device */

@media screen and (max-width: 576px){
    .nav-container,
    .nav-title,
    .nav-menu{
        flex-direction: column; 
        text-align: center;  
        margin-left: 50px;
    }
    .banner-section-title,
    .header-title{
        flex-direction: column;
    }

    .banner-section-description .banner-first {
        font-size: 1.5rem;
        margin: 24px auto;
    }

    .banner-section-description p{
        font-size: 1rem;
        margin: 0px auto;
        max-width: 300px;
    }
    .banner-menu{
        max-width: 280px;
        margin:10px auto;
        gap: 24px;
        flex-wrap: wrap;  
    }
    .banner-section-title,
    .header-title,
    .banner-menu,{
        flex-direction: column ;
    }
    .banner-section-description {
        position: relative;
    }
    .popular{
        flex-direction: column;
    }
    .popular-title{
        align-items: start;
    }
    .popular-title-first,
    .place-title-first{
        font-size: 1.3rem;
    }
    .popular-title-second,
    .place-title-second,
    .popular-title-third{
        width: 335px;
        margin: 10px auto;
        margin: 0;
    }
    .mautan-img{
        width: 335px;
    height: 342px;
    }













}

































<!-- Destination section end now -->
<section class="destination">
     <div class="destination-first">
      <h2 class="destination-title">Choose Your Destination</h2>
      <p class="destination-description">the right tools and set up the right processes to make it easy for travelers to navigate options and make good choices.</p>
     </div>
     <div>
       <div class="container">
          <div class="men-first">Maldives</div>
          <div class="men-second">Indonesia</div>
          <div class="men-third">Srilanka</div>
          <div class="men-forth">North America</div>
          <div class="men-six">Kashmir</div>
          <div class="men-seven">Bangladesh</div>
          <div class="men-eight">Bandarban</div>
          
          
         
         </div>
     </div>
</section>
<!-- Destination section end now -->
<!-- Choose section starte now -->
<section class="choose">
   <div class="destination-first">
      <h2 class="destination-title">Why Choose Us</h2>
      <p class="destination-description">the right tools and set up the right processes to make it easy for travelers to navigate options and make good choices.</p>
     </div>
     <div class="choose-title">
        <div class="choose-first">
         <img class="choose-img" src="images/hotel 1.png" alt="">
         <h3 class="choose-img-title">Handpicked Hotels</h3>
         <p class="choose-img-description">Your business travelers want intuitive, straightforward shopping for flights, hotels, rail and car. We’ll help you identify the right tools</p>
        </div>
        <div class="choose-second">
         <img class="choose-img" src="images/map 1.png" alt="">
         <h3 class="choose-img-title">World Class Service</h3>
         <p class="choose-img-description">Your business travelers want intuitive, straightforward shopping for flights, hotels, rail and car. We’ll help you identify the right tools</p>
        </div>
        <div class="choose-third">
         <img class="choose-img" src="images/price-tag 1.png" alt="">
         <h3 class="choose-img-title">Best Price Guarantee</h3>
            <p class="choose-img-description">Your business travelers want intuitive, straightforward shopping for flights, hotels, rail and car. We’ll help you identify the right tools</p>
        </div>
     </div>
     
</section>

<!-- Choose section end now -->
<!-- Discounts section sterte now -->
<section class="container">
   <section class="discounts">
      <div class="discounts-img-first">
        <nav class="discount-title-first">
          <h3 class="wow-first">Tour To Satorini</h3>
          <p class="wow-second">the right tools and set up the right processes to make it easy for travelers to navigate options and make good choices,for flights, hotels, rail and car.for flights, hotels, rail and car.</p>
          <h4 class="wow-third">Price: $1300-$1500</h4>
          <button class="btn-primary">Book Now</button>
        </nav>
      </div>  
   </section>
   <section class="discounts-first">
      <div class="discounts-img-second">
         <nav class="discount-title-second">
            <h3 class="wow-first">Tour To Satorini</h3>
          <p class="wow-second">the right tools and set up the right processes to make it easy for travelers to navigate options and make good choices,for flights, hotels, rail and car.for flights, hotels, rail and car.</p>
          <h4 class="wow-third">Price: $1300-$1500</h4>
          <button class="btn-primary">Book Now</button>
         </nav>
       </div>
   </section>
   <section class="discounts-second">
      <div class="discounts-img-third">
         <nav class="discount-title-third">
          <h3 class="wow-first">Tour To Satorini</h3>
          <p class="wow-second">the right tools and set up the right processes to make it easy for travelers to navigate options and make good choices,for flights, hotels, rail and car.for flights, hotels, rail and car.</p>
          <h4 class="wow-third">Price: $1300-$1500</h4>
          <button class="btn-primary">Book Now</button>
         </nav>
       </div>
   </section>
   <button class="simple-but">See All Packages</button>
</section>

<!-- Discounts section end now -->
<!-- Place section starte now -->
<section class="place ">
    <div class="place-title">
      <h3 class="place-title-first">A Simple Perfect Place To Get Lost</h3>
      <p class="place-title-second">Book trips with our online platform or through our travel experts, with access to literally millions of travel options. Your business travelers want intuitive.</p>
      <li class="place-title-third">
         Control costs with travel policy integration and an automated trip approval process via our self-service platform. 
     </li>
     <li class="place-title-third">
         Successful travel programs make trips simple, productive, and safe for business travelers. Successful HR departments focus on positive employee 
     </li>
         <button class="place-but-primary">Read More</button>
   </div>
   <div class="place-img">
     <img src="images/Group 40089.png" alt="">
   </div>
    </div>
    <div></div>
</section>

<!-- Place  section end now -->
<!-- Newsletter  section starte now -->
  <section class="newsletter">
     <div class="news-title">
       <h4 class="news-title-first">Newsletter</h4>
       <p class="news-title-second">Get your daily dose of travel news & tips. Sign up today!</p>
       <input class="news-title-third" type="text" placeholder="Enter your email" name="" id="">
       <input class="news-title-forth" type="email" placeholder="Enter your email" name="" id="">
       <input class="news-title-fifth" type="submit" value="Subscribe">
     </div>
     <div class="news-img">
      <nav class="news-img-first">
         <h6 class="news-img-second">Travel.com</h6>
         <h4 class="news-img-third">Save up to 70%</h4>
      </nav>
     </div>
  </section>

<!-- Newsletter  section end now -->

</main>
<footer>
<!-- footer  section starte now --> 
<div class="footer-container">
 <div class="footer-title">
   <div class="nav-title">
      <img class="nav-first" src="images/Group 40071 (2).png" alt="">
      <h1 class="nav-second"><span class="nav-third">world</span> <span class="nav-forth">traveling</span></h1>
   </div>
   </div>
   <p class="footer-title-first">Book trips with our online platform or through our travel experts, with access to literally millions of travel options. Your business travelers want intuitive.</p>
   <div class="box-fond">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i> 
   </div>
   <hr>
   <p class="last"><i>2017, All Rights Reserved.</i></p>
</div>
<!-- footer  section end now -->
</footer>




















header-title{
    display: flex;
    width: 1170px;
    height: 500px;
    
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
    margin-top: 0px;

}

.img-title{
    text-align: center;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.img-title-first{
    align-items: end;   
}
.img-title-second{
       
}
.img-title-third{
    
}
.container-wow{
    display: flex;
    margin: 50px 160px;
}
.box{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    gap: 24px;
}
.box-first,
.box-second,
.box-third{
    width: 174px;
    height: 52px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    gap: 24px;

}
.box-forth{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    gap: 24px;
}

/* Destination section style end now */

.destination{
    margin: 50px 130px;
    
}
.destination-first{
    text-align: center;
    
}
.destination-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 350px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;   
}
.men-first,
.men-second,
.men-third,
.men-forth,
.men-fift,
.men-six,
.men-seven,
.men-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
}
.container{
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.men-first{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 5.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-second{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 8.png') ;
    background-repeat:no-repeat ;
    background-position:center ;   
}
.men-third{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 6.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-forth{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 7.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-fift{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-six{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-seven{
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 11.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-eight{
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 10.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
/* Destination section style end now */
/* Choose section style starte now */
.choose{
    margin: 120px 135px;
}
.choose-title{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 24px;
}
.choose-first,
.choose-second{
    padding: 30px 30px;
}
.choose-third{
    margin: 0px auto;
    padding: 30px 30px;
    border: 2px solid red;
}
.choose-img{
    width: 64px;
    height: 64px;
}
.choose-img-title{
    color: #131318;
   font-size: 24px;
   font-weight: 800;
}

.choose-img-description{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* Choose section style end now */
/* discounts section style starte now */
.discounts,
.discounts-second{
    width: 1170px;
    height: 500px;
    background-image:url('../images/Group\ 39.png');
    background-repeat:no-repeat ;
    margin: 20px 130px;
    border: 2px solid rgb(234, 240, 235);
}
.discounts-first{
    width: 1170px;
    height: 500px;
    background-image:url('../images/Group\ 40.png');
    background-repeat:no-repeat ;
    margin: 20px 130px;
   /* border: 2px solid rgb(234, 240, 235);*/
}
.discounts-img-first,
.discounts-img-third{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-left:535px ;
    margin-top: 55px;   
}
.discounts-img-second{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-top: 55px;  
    margin-left: 50px;
     
}
.discount-title-first,
.discount-title-third,
.discount-title-second{
    align-items: center;
    margin: auto 50px;   
}
.wow-first{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.wow-second{
    width: 450px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.wow-third{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}  
.btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   border: 0;
}
.simple-but{
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
  margin-left: 500px;
   font-size: 20px;
   font-weight: 800;
   border: 0;
   
}
/* Choose section style end now */
/* Place  section style starte now */
.place{
    margin: 100px auto;
    display: flex;
    margin-left: 130px;
    
}
.place-title{
    width: 532px;
    align-items: start;
    border: 2px solid red;
}
.place-title-third{
    width: 532px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    
}
.place-but-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}
.place-img{
    width: 610px;
    height: 424px;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    margin-left: 30px;
}
/* Place  section style end now */
/* Newsletter  section staret now */
.newsletter{
    display: flex;
    gap: 20px;
    margin: 50px 130px;
    
}
.news-title{
    width: 474px;
    height: 422px;
    padding: 40px 40px; 
}
.news-title-first{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.news-title-second{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.news-title-third{
    width: 393px;
   height: 52px;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
   color: rgba(19, 19, 24, 0.30);
   font-size: 16px;
   font-weight: 400;
    border: 0;
    margin: 5px auto;
}
.news-title-forth{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
     border: 0;
     margin: 5px auto;
}
.news-title-fifth{
    width: 393px;
    height: 52px;
    color: #FFF;
    background: #FF5400;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   border-radius: 8px;
   border: 0;
   margin-top: 40px;
}

.news-img{
    width: 672px;
    height: 422px;
    background-image: url('../images/Rectangle\ 8\ \(1\).png');
    border-radius: 16px;  
}
.news-img-first{
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-top: 250px;
    margin-left: 300px;  
}
.news-img-second{
    color: #FFF;
 
    font-size: 24px;
    font-weight: 400;
    transform: rotate(-1.628deg);
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 0;
}
.news-img-third{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    transform: rotate(-1.628deg);
    margin-top: 5px;
    margin-left:25px ;
}
/* Newsletter  section style end now */
/* footer  section style starte now */
.footer-container{
    margin:100px 300px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-title{
    margin-top:50px ;
    margin-left: 230px;
    margin-bottom: 0;
}
.footer-title-first{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 0px;
    margin-left: 30px;
}
.box-fond{
    display: flex;
    width: 174.322px;
    height: 24px;
    margin: 50px auto;
    gap: 20px;
}
hr{
    width: 872;
    color: #FF5400;
    border: 1px solid rgb(74, 74, 110);
}
.last{
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin: 50px auto;

}
.hide{
    display: none;
}
/* footer  section style end now */
