
*{
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@400;700;900&family=Mulish:wght@300;400;600;700;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

}
  
body{
    width: 1440px;
    height: 6940px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* navebar section style starts now */
header{
    background: #FFF;
    width: 1170px;
    margin: 0 auto;
}

.nav-title-first{
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
}
.nav-title{
     display: flex;
     align-items: center;
}
.nav-first{
      max-width: 48px;
      max-height: 56.008px;
}
.nav-second{
    font-size: 36px;
    font-weight: 800;
    margin-left: 1rem;
}
.nav-third{
    color: #131318;
}
.nav-forth {
    color: #FF5400;
}
.nav-fifth{
    color: #FF5400;
}
.nav-container{
      display: flex;
      align-items: center;
    
}
.nav-container >ul {
      display: flex;
}
.nav-container li{
      list-style: none;
      font-size: 1.3rem;
      font-weight: 400;
      margin-left: 44px;
}
.nav-container li a{
      text-decoration: none;
      color:#424247;
}

/* navebar section style end now */
.header-title{
    display: flex;
    width: 1170px;
    height: 500px;
    background-image:url('../images/Group\ 13\ \(1\)\ \(1\).png') ;
    background-repeat:no-repeat ;
    background-position:center ;
    margin-top: 0px;

}
.img-title{
    text-align: center;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
     background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.img-title-first{
    align-items: end;   
}
.img-title-second{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800; 
    margin-top:100px;
    margin-bottom: 0px;    
}
.img-title-third{
    color: #FFF;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
    margin: 20px 220px; 
   
}
.container{
    
    
}
.box{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    gap: 24px;
}
.box-first,
.box-second,
.box-third{
    width: 174px;
    height: 52px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    gap: 24px;

}
.box-forth{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    gap: 24px;

}
/* popular section style starts now */

.popular{ 
    margin: 100px auto;
    display: flex;
    margin-left: 130px;
    /*justify-content: space-between;*/
}
.popular-title{
    width: 525px;
    align-items: start;
}
.popular-title-first{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;

}
.popular-title-second{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;

}
.popular-title-third{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.but-primary{
    color: #FFF;
    background: #FF5400;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
     padding: 18px 35px;
    border-radius: 8px;
    border: 0;


}
.mautan-img{
    width: 540px;
    height: 550px;
    margin-left: 110px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* popular section style end now */
/* Destination section style end now */

.destination{
    margin: 50px 130px;
    
}
.destination-first{
    text-align: center;
    
}
.destination-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 350px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;   
}
.men-first,
.men-second,
.men-third,
.men-forth,
.men-fift,
.men-six,
.men-seven,
.men-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
}
.container{
    display: flex;
    flex-wrap: wrap;
     gap: 20px;  
}
.men-first{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 5.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-second{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 8.png') ;
    background-repeat:no-repeat ;
    background-position:center ;   
}
.men-third{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 6.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-forth{
    width: 474px;
height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 7.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-fift{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-six{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-seven{
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 11.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-eight{
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../images/Rectangle\ 10.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
/* Destination section style end now */
/* Choose section style starte now */
.choose{
    margin: 120px 135px;
}
.choose-title{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 24px;
}
.choose-first,
.choose-second{
    padding: 30px 30px;
}
.choose-third{
    margin: 0px auto;
    padding: 30px 30px;
}
.choose-img{
    width: 64px;
    height: 64px;
}
.choose-img-title{
    color: #131318;
   font-size: 24px;
   font-weight: 800;
}

.choose-img-description{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* Choose section style end now */
/* discounts section style starte now */
.discounts,
.discounts-second{
    width: 1170px;
    height: 500px;
    background-image:url('../images/Group\ 39.png');
    background-repeat:no-repeat ;
    margin: 20px 130px;
    border: 2px solid rgb(234, 240, 235);
}
.discounts-first{
    width: 1170px;
    height: 500px;
    background-image:url('../images/Group\ 40.png');
    background-repeat:no-repeat ;
    margin: 20px 130px;
    border: 2px solid rgb(234, 240, 235);
}
.discounts-img-first,
.discounts-img-third{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-left:535px ;
    margin-top: 55px;   
}
.discounts-img-second{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-top: 55px;  
    margin-left: 50px;
     
}
.discount-title-first,
.discount-title-third,
.discount-title-second{
    align-items: center;
    margin: auto 50px;   
}
.wow-first{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.wow-second{
    width: 450px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.wow-third{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}  
.btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   border: 0;
}
.discounts-first{

}
/* Choose section style end now */
