
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@400;700;900&family=Mulish:wght@300;400;600;700;800&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
 
body{
    
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.but-primary{
    color: #FFF;
    background: #FF5400;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
     padding: 18px 35px;
    border-radius: 8px;
    border: 0;
}
/* navebar section style starts now */
.nav-container{
    max-width: 1170px;
    margin: 20px auto;
    display: flex;
}
.nav-title{
    min-height: 45px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img {
    width:90px;
}
.nav-container p {
    color:#131318;
    font-weight: 800;
    font-size: 2.5rem;
}
.color{
    color:#FF5400;
    font-weight: 800;
    font-size: 2.5rem;
}
.nav-menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu a {
    text-decoration:none;
    color:#424247;
    font-weight: 400;
    font-size: 1.2rem;
}
.color-menubar{
    color:#FF5400;
}
/* navebar section style end now */
/* banner section style starte now */
.banner-section-title{ 
    display: flex;
    justify-content: center;
    max-width:1170px ;
    margin: 10px auto;   
}
.header-title {
    position: relative;
    width:1170px ;
    height: 500px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
   margin: 50px auto;
   width: 100%;
   border-radius: 16px;
}
 .banner-section-description{
    position: absolute;
    width:1170px ;
    height: 500px;
    border-radius: 16px;
    width: 100%;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    
    
 }
 .banner-section-description .banner-first {
    text-align: center;
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 100px auto;
 }
 .banner-section-description p{
    text-align: center;
    max-width: 670px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 240px;
 }
.banner-menu{
    color: #fcfaf9;
    background-color: #fcfaf9a4;
    border-radius: 6px;
    padding: 10px 20px;
    max-width: 650px;
    display: flex;
    margin:50px 280px;
    justify-content: space-around;
    
}
.banner-menu a {
   text-decoration: none;
   color: rgba(19, 19, 24, 0.50);
   background-color: #fcfaf9;
   border-radius: 6px;
   padding: 10px 20px;
   font-size: 1rem;
   font-weight: 400;
   border: 0;
}
/* banner section style end now */
/* popular section style starts now */

.popular{ 
    display: flex;
    gap: 100px;
    max-width:1170px ;
   margin: 20px auto;
    
}
.popular-title{
    align-items: start;
    width: 525px;
    
}
.popular-title-first,
.place-title-first{
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 0px;

}
.popular-title-second,
.place-title-second{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 560px;
    align-items: center;
}
.popular-title-third{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 560px; 
}

.mautan-img{
    width: 540px;
    height: 550px;
border-radius: 16px;


}
/* popular section style end now */
/* popular section style end now */
/* Destination section style end now */

.destination{
    margin:10px auto;
    max-width:1170px ;
}
.destination-first{
    max-width:1250px ;
    margin: 0 auto;
    text-align: center;
    
    
}
.destination-title{
    margin: 30px auto;
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 643px; 
}
.men-first,
.men-second,
.men-third,
.men-forth,
.men-fift,
.men-six,
.men-seven,
.men-eight{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
}
.container{
    max-width:1170px ;
    margin: 0 auto;
   
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.men-first{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 5.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-second{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 8.png') ;
    background-repeat:no-repeat ;
    background-position:center ;   
}
.men-third{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 6.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-forth{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 7.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-fift{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-six{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 9.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-seven{
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 11.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
.men-eight{
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background-image:url('../Images/Rectangle\ 10.png') ;
    background-repeat:no-repeat ;
    background-position:center ;
}
/* Destination section style end now */


/* service section style starte now */

.service{
    margin:10px auto;
    max-width:1170px ;
}
.service-first{
    max-width:1250px ;
    margin: 0 auto;
    text-align: center;
    
}
.service-second{
    margin: 30px auto;
    color: #131318;
    font-size: 3rem;
    font-weight: 800;
}
.service-third{
    color: rgba(19, 19, 24, 0.70);
    margin: 24px 230px; 
    width: 643px; 
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}
.choose-title{ 
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto;
    
   
}

.choose-first{
    padding: 30px 30px;

}
.choose-second{
    padding: 30px 30px;
    
}
.choose-third{
    margin: 0px auto;
    padding: 30px 30px;
   
}
.choose-img{
    width: 64px;
    height: 64px;
}
.choose-img-title{
    color: #131318;
   font-size: 24px;
   font-weight: 800;
}
.choose-img{
    width: 64px;
    height: 64px;
}
.choose-img-title{
    color: #131318;
   font-size: 24px;
   font-weight: 800;
}

.choose-img-description{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.choose-img-description{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



/* Choose section style end now */
/* discounts section style starte now */
.container-arif{
    max-width:1170px ;
    margin: 0 auto;
   
      
}
.final-container{
    display: flex;
}
.discount-wow{
    
    margin: 10px auto;
    text-align: center;
   
}
.discount-wow h3 {
    color: #131318;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.discount-wow p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
     font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 30px auto;
}
.discounts,
.discounts-second{
    position: relative;
    display: flex;
    margin: 25px auto;
    width: 100%;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    background-image:url('../Images/Group\ 39.png');
    background-repeat:no-repeat ;
    background-position: center;
 
}
.discounts-first{
    position: relative;
    background-position: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
    width: 1170px;
    height: 500px;
    background-image:url('../Images/Group\ 40.png');
    background-repeat:no-repeat ;
    border-radius: 16px;
   
}
.discount-title-first{}
.discounts-img-first,
.discounts-img-third{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-left:535px ;
    margin-top: 55px;   
}
.discounts-img-second{
    display: flex;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.726);
    margin-top: 55px;  
    margin-left: 50px;
     
}

.wow-first{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.wow-second{
    width: 450px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.wow-third{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}  
.btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   border: 0;
}
.simple-but{
    padding: 20px 30px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    margin: 50px auto;
   font-size: 20px;
   font-weight: 800;
   border: 0;
   
}
/* Choose section style end now */
/* Place  section style starte now */
.place{
   width: 1170px;
   margin: 0 auto;
   display: flex;
   
    
}
.place-title{
    width: 530px;
   
   
}
.place-title-third{
    width: 532px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    
    
}
.place-but-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}
.place-img{
    width: 672px;
    height: 422px;
    background-image: url('../Images/Group\ 40089.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px; 
    margin-top: 20px;
    margin-left: 20px;
   
  
}
/* Place  section style end now */
/* Newsletter  section staret now */
.newsletter{
    display: flex;
    width: 1170px;
    margin: 0 auto;
   
}
.news-title{
    width: 474px;
    height: 422px;
    padding: 40px 40px;
    margin-top: 20px;
   
}
.news-title-first{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.news-title-second{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.news-title-third{
    width: 393px;
    height: 52px;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
   color: rgba(19, 19, 24, 0.30);
   font-size: 16px;
   font-weight: 400;
    border: 0;
    margin: 5px auto;
}
.news-title-forth{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
     border: 0;
     margin: 5px auto;
}
.news-title-fifth{
    width: 393px;
    height: 52px;
    color: #FFF;
    background: #FF5400;
   text-align: center;
   font-size: 20px;
   font-weight: 800;
   border-radius: 8px;
   border: 0;
   margin-top: 40px;
}

.news-img{
    width: 672px;
    height: 422px;
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px; 
    margin-top: 20px;
    margin-left: 20px;
    
}
.news-img-first{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin-top: 250px;
    margin-left: 330px; 
    
}
.news-img-second{
    color: #FFF;
    
    font-size: 24px;
    font-weight: 400;
    transform: rotate(-1.628deg);
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 0;
}
.news-img-third{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    transform: rotate(-1.628deg);
    margin-top: 5px;
    margin-left:25px ;
    
}
/* Newsletter  section style end now */
/* footer  section style starte now */
.footer-container{
   width: 1170px;
   margin: 0 auto;
    background: rgba(19, 19, 24, 0.05); 
}
.footer-title{
   display: flex;
    margin-top: 100px;
    margin-left: 150px;
    justify-content: center; 
}
.nav-title{
    text-align: center;
    margin: 0 auto;
}
.footer-nave-icon{
    width: 40px;
   height: 46.673px;

}
.footer-nave-title{
    color:  #131318;
    font-size: 2rem;
    font-weight: 800;
 
}
.footer-nave-title{
    color:  #131318;
    font-size: 2rem;
    font-weight: 800;
}
.footer-nave-title-color{
    color: #FF5400;
    font-size: 2rem;
    font-weight: 800;
}
.footer-title-first{
    text-align: center;
    width: 769px;
    margin: 20px auto;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.box-fond{
    display: flex;
    width: 174.322px;
    height: 24px;
    margin: 50px auto;
    gap: 30px;
}
hr{
    width: 872;
    color: rgb(16, 90, 228);
    border: 1px solid rgb(74, 74, 110);
}
.last{
    text-align: center;
    color: rgb(8, 8, 8);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    margin: 50px auto;
}

/* footer  section style end now */